.city__container {
  font-size: 0.8em;
  padding: 5px;
  border-left: 1px solid var(--color3);
}
.city__title {
  font-size: 1.2em;
  padding-bottom: 10px;
}
.city__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.city__group {
  display: flex;
  align-items: center;
  gap: 5px;
}
