.teste {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.dailyForecast__container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid var(--color2);
  border-radius: 10px;
  text-transform: uppercase;
  max-width: 90vw;
  font-size: 0.9em;
}
.dailyForecast__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.dailyForecast__descriptionContainer {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.dailyForecast__tempContainer {
  display: flex;
  flex-direction: column;
}
.dailyForecast__temp {
  display: flex;
  gap: 10px;
}

.dailyForecast__tempVariationContainer {
  display: flex;
  flex-direction: column;
}
.dailyForecast__tempVariation {
  display: flex;
  align-items: center;
}
