.main__container {
  display: flex;
  flex-direction: column;
  margin: 16px;

  gap: 16px;


}

.dailyForecast__title {
  display: flex;
  justify-content: flex-flex-start;
  align-items: center;
  gap: 8px;
  padding-left: 4px;
}
.dailyForecast__main {
  background-color: var(--color1);
  border: 1px solid var(--color6);
  border-radius: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

    position: relative;
}
.dailyForecast__container {
  display: grid;
  grid-template-columns: 48px 1fr;

  padding: 16px;
  border-radius: 10px;
  gap: 8px;
}
.dailyForecast__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}

.dailyForecast__date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, var(--color3), var(--color2));
  border-radius: 10px;

  width: 48px;
  height: 48px;
}

.dailyForecast__month {
  color: var(--color1);
  font-size: 10px;
}

.dailyForecast__day {
  color: var(--color1);
  font-size: 18px;
  font-weight: bold;
}
.dailyForecast__rain {
  display: flex;
  text-transform: uppercase;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding-left: 16px;
}

.dailyForecast__drop {
  display: flex;
  justify-content: flex-start;
  padding-top: 4px;
  align-items: center;
}

.dailyForecast__drop p {
  font-size: 12px;
}
.dailyForecast__rainText {
  display: flex;
  flex-direction: column;
}

.dailyForecast__tempContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-wrap: nowrap;
}
.dailyForecast__temp {

  display: flex;
  gap: 18px;
}
.dailyForecast__iconAdjust {
  display: flex;
}
.dailyForecast__iconAdjust p {
  color: var(--color0);
}

.dailyForecast__expand {
  position: absolute;
  top: 0;
  right: 0;
}
.dailyForecast__expandBtn {
  all: unset; /* remove estilo padrão do button */

padding-right: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

 

  border-radius: 50%;
  cursor: pointer;

  transition: all 0.2s ease;
}

.dailyForecast__expandBtn svg {
  color: var(--color1);
  transition: transform 0.3s ease;
}

/* Hover */
.dailyForecast__expandBtn:hover {
  transform: translateY(-2px);

}

/* Active */
.dailyForecast__expandBtn:active {
  transform: scale(0.95);
}

/* Rotação automática quando expandido */
.dailyForecast__expandBtn[aria-expanded="true"] svg {
  transform: rotate(180deg);
}

@media screen and (max-width: 500px) {
  .dailyForecast__container {
    grid-template-columns: 80px 1fr;
  }
  .dailyForecast__content {
    flex-direction: column;

    gap: 16px;
  }

  .dailyForecast__date {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 370px) {
  .dailyForecast__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .dailyForecast__date {
    padding: 8px 0;
  }
}
