.main_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}
.dailyForecast__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px;
  border: 1px solid var(--color2);
  border-radius: 10px;
  text-transform: uppercase;
  max-width: 90vw;
  font-size: 0.9em;

  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.38);

  position: relative;
}
.dailyForecast__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  font-size: 0.9em;
}
.dailyForecast__icon {
  display: flex;
  align-items: center;
}
.dailyForecast__day {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  border-radius: 50%;

  left: -16px;
  color: white;
  background-color: var(--color2);
  box-shadow: 0px 2px 8px 0px #0000005c;
}

.dailyForecast__day_shortPosition {
  top: 40%;
}
.dailyForecast__day_longPosition {
  top: 34%;
}

.dailyForecast__hidden {
  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;
}
.dailyForecast__descriptionContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.dailyForecast__descriptionContainer div {
  display: flex;
}

.dailyForecast__tempContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

}
.dailyForecast__temp {
  flex-direction: column;
  display: flex;
  gap: 5px;
}

.dailyForecast__tempVariationContainer {
  min-width: 118px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 5px;
}
.dailyForecast__tempVariation {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 483px) {
  .dailyForecast__container {
    max-width: 434px;
  }
  .dailyForecast__content {
    flex-wrap: nowrap;
  }
}
