.search__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: var(--color2);
  padding: 10px;
}
.search__title {
  font-size: 0.9em;
  color: var(--color1);
}
.search__content {
  position: relative;

  
}
.search__bar {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 300ms ease-in;
  font-weight: bold;
}
.search__bar:focus {
  outline: 1px solid var(--color3);
  border-radius: 5px 5px 0px 0px;
}
.search__list {
  position: absolute;
  z-index: 3;

  width: 100%;
  list-style: none;
  padding: 0;

  color: var(--color1);
  border: 1px solid var(--color1);
}
.search__listItem {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid var(--color1);
  background-color: var(--color2);
}
.search__listItem:hover {
  background-color: var(--color3);
  transition: background ease-in 250ms;
}
.search__clear {
  position: absolute;
  cursor: pointer;
  top: 6px;
  right: 5px;

}

@media (min-width: 700px) {
  .search__bar {
    width: 400px;
  }
}
