.tempWarning__container {
  position: relative;
}
.temp__warning {

  background-color: #5d5d5d;
  color: var(--color1);
  padding: 5px;
  text-transform: none;
  text-align: justify;
  min-width: 280px;
}
