.temp__container {
  font-size: 0.8em;
  padding: 5px;
  border-left: 1px solid var(--color3);

  flex: 1 0 110px;
}
.temp__titleContainer {
  display: flex;
  gap: 5px;
}
.temp__title {
  font-size: 1.2em;
  padding-bottom: 10px;
}
.temp__infoMessage {
  padding: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.313);
}
.temp__info {
  padding-bottom: 5px;
  display: flex;
  gap: 10px;
  text-align: center;
}
.temp__variable {
  display: flex;
  align-items: center;
}
