.weather__forecast {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.weather__status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px 10px 20px 10px;
  margin: 5px;
  border: 1px solid var(--color2);
  border-radius: 10px;
  position: relative;
}
.weather__infoContainer {
  display: flex;
  flex-direction: column;

  margin: 30px;
  gap: 30px;
}

.weather__info {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.weather__plus {
  position: absolute;
  bottom: -15px;
  left: 45%;
  padding: 1px;

  width: 30px;
  height: 30px;

  background-color: var(--color2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.weather__plus:hover {
  background-color: var(--color3);
  transition: ease-in 300ms;
}

@media (max-width: 965px) {
  .weather__infoContainer h2 {
    font-size: 1em;
  }
  .weather__info {
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }
}
